<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--这个配置文件用于和Spring集成,去掉与数据库连接的信息-->

    <typeAliases>
        <package name="com.mammonist.domain"/>
    </typeAliases>

    <!--分页查询插件-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>

    <mappers>
        <mapper resource="config/UserMapper.xml"></mapper>
    </mappers>

</configuration>